// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  // Dark mode theme
  &.dark-theme {
    @include mat.theme(
      (
        color: (
          primary: mat.$azure-palette,
          tertiary: mat.$blue-palette,
          theme-type: dark,
        ),
        typography: Roboto,
        density: 0,
      )
    );
  }
}

body {
  // Defer to the user's system settings for light/dark mode
  color-scheme: light dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: #fafafa;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

html.dark-theme body {
  background-color: #1a1a1a;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.mat-toolbar {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  position: fixed;
  top: 0;
  z-index: 2;
}
:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: #d7e3ff,
      container-text-color: #005cbb,
    )
  );

  @include mat.expansion-overrides(
    (
      container-background-color: #ffffff,
      actions-divider-color: #005cbb,
    )
  );
}

html.dark-theme {
  @include mat.toolbar-overrides(
    (
      container-background-color: #1e293b,
      container-text-color: #60a5fa,
    )
  );

  @include mat.expansion-overrides(
    (
      container-background-color: #1e293b,
    )
  );
}
